:root {
  --clr-primary: hsl(258, 83%, 45%);
  --clr-light-02: hsl(240, 4%, 95%);
  --clr-light-01: hsl(0, 0%, 100%);
  --clr-dark: hsl(163, 11%, 12%);

  //Font

  --ff: "Archivo", sans-serif;
  --ft-w-bold: 700;
  --ft-w-medium: 600;
  --ft-w-regular: 400;
}
