.cta {
  border: none;
  border-radius: 0.5rem;
  padding: 1.8rem 2.4rem;
  font-size: 1.8rem;
  text-transform: capitalize;
  color: var(--clr-light-01);
  background: var(--clr-primary);
  cursor: pointer;
}
